.flex{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;


}
.sedan{
    background-color:hsl(31, 77%, 52%);
 
    padding: 16px;
}
.suvs{
    background-color: hsl(184, 100%, 22%);

    padding: 16px;
}
.btn{
   background-color: hsl(0, 0%, 95%);
    border: 0px;
    width: 60%;
    border-radius: 7px;
    color:hsl(31, 77%, 52%) ;
}
.suvbtn{
    background-color: hsl(0, 0%, 95%);
    color:hsl(184, 100%, 22%); ;
     border: 0px;
     width: 60%;
     border-radius: 7px
 }
 .luxurybtn{
    background-color: hsl(0, 0%, 95%);
    color:hsl(179, 100%, 13%);
     border: 0px;
     width: 60%;
     border-radius: 7px
 }
.luxury{
    background-color:hsl(179, 100%, 13%);

    padding: 16px;
}
.paragraphs{
    color:hsla(0, 0%, 100%, 0.75);
}
.heading{
 color:  hsl(0, 0%, 95%)
}
body{
    background-color: beige;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 16px;
}
@media (max-width: 1024px) {
    .flex {
      flex-direction: column;
    }
  }